<div class="playerInfo">
  <p>Portfolio works!</p>
  <ul>
    <li>
      <div class="playerInfo">
        <img
          class="img-responsive"
          src="assets\photo\hidden.jpg"
          alt="My photo"
        />
        <p>Name: {{ person.name }}</p>
        <p>Surname: {{ person.surname }}</p>
        <p>Age: {{ person.age }}</p>
        <p>Contry: {{ person.country }}</p>
        <p>City: {{ person.city }}</p>
        <p>Street: {{ person.address }}</p>
        <p>Phone: {{ person.phone }}</p>
      </div>
    </li>
  </ul>
</div>
